body {
    background-color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #999;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 20px;
}

main {

}

header {

}

nav {

}

section {

}

aside {

}

footer {

}

